[init]
  defaultBranch = master
[pull]
  rebase = true
[diff]
  noprefix = true
[alias]
  wip = commit -m WIP
  please = push --force-with-lease
  pushup = push --set-upstream origin HEAD
  amendit = commit --amend --no-edit
[core]
  pager = delta
  untrackedCache = true
[delta]
  diff-so-fancy = true
[interactive]
  diffFilter = delta --color-only
[include]
  path = .gitconfig_extra
